<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pavelkovachev.recipes">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_starting_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <activity android:name=".ui.activity.homescreen.HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.settings.SettingsActivity" />
        <activity
            android:name=".ui.activity.categories.CategoriesActivity"
            android:parentActivityName=".ui.activity.homescreen.HomeScreenActivity" />
        <activity android:name=".ui.activity.generalmealdescription.GeneralMealDescriptionActivity" />
        <activity
            android:name=".ui.activity.recipeslist.RecipesListActivity"
            android:parentActivityName=".ui.activity.categories.CategoriesActivity" />
        <activity
            android:name=".ui.activity.personalpreferences.PersonalPreferencesActivity"
            android:parentActivityName=".ui.activity.homescreen.HomeScreenActivity" />
    </application>
</manifest>